*{
    box-sizing: border-box;
    margin:50px;
    background-color: black;
    color:white;
}

h1, h3{
    text-align: center;
}

#img-div{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    
}

#img{
   max-width: 100%;
  max-width:700px;
  height:300px;
  object-fit:cover;
  border-radius:10px;
}

li{
    text-align:justify;
    line-height: 1.8;
}

a{
    text-align: center;
    display: block;
    font-size: larger;
}